# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.log
*.out
*.toc
*.lof
*.lot
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.ilg
*.ind
*.idx
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.dvi
*.ps
*.pdfsync
*.thm
*.upa
*.upb
*.run.xml
*.bcf
*.cut
*.loa
*.lbx
*.lbc
*.mw
*.tdo
*.xdy